.mainLayout .mainContainer {
  margin-left: 300px;
}
.mainLayout .sidebar {
  width: 300px;
}
@media (max-width: 768px) {
  .mainLayout .mainContainer {
    margin-left: 0 !important;
  }
  .mainLayout .sidebar {
    display: none !important;
  }
}

.mainLayout .sidebar,
.mainLayout .mainContainer {
  margin-top: 75px;
}
