body,
#root,
.App {
  min-height: 100vh;
  font-family: "Gilroy-Light", sans-serif;
}

.bg-gray {
  background-color: #f4f5fa;
}

@media (min-width: 768px) {
  .min-h-100vh__bigScreen {
    min-height: 100vh;
    overflow: hidden;
  }
}

/* gilroy font */
@font-face {
  font-family: "Gilroy-light";
  font-style: normal;
  src: url(fonts/Gilroy-Light.otf) format("opentype");
}
.font_gilroy {
  font-family: "Gilroy-light";
}

.text-gray {
  color: #a8a8a8;
}

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.font_inter {
  font-family: "Inter", sans-serif;
}

.btn {
  border-radius: 2px !important;
}

.btn-primary {
  background-color: #2777ef !important;
}

a {
  color: inherit !important;
}

.adminCardSmall {
  height: 100px;
}
